@model project_isf.Domain.POCO.Enrollment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Enrollment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Team.TeamNaam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Team.TeamNaam)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
